<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <nav class="nav-bar">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/gallery">Gallery</a></li>
        </ul>
    </nav>
    <section class="about">
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla unde
            ipsum, sint, velit commodi culpa quasi quod quo rem labore neque sit?
            Deleniti fugiat in illum laboriosam accusantium nostrum nihil?
        </p>
        <p>
            Asperiores veniam amet dolores, ipsam quod aliquam voluptas aut modi
            tempora, ducimus recusandae doloribus obcaecati eaque. Et magnam vel
            molestiae corporis! Ipsum repudiandae, excepturi aut facilis in dolorum
            illum dolore.
        </p>
        <p>
            Enim ipsam aut vero maxime cupiditate eum ad officia natus ab, corporis
            facere maiores nostrum sapiente, ex consequatur, voluptatibus ea
            repellendus. Quam cumque dolor cupiditate unde odio non velit natus.
        </p>
        <p>
            Ipsam dolorem deleniti omnis excepturi exercitationem! Voluptas,
            distinctio nostrum delectus maxime quidem atque quaerat autem dolor
            magni possimus fuga illum repellat repellendus voluptate, sint aperiam
            incidunt alias? Deserunt, et at!
        </p>
        <p>
            Inventore dolorum enim dicta id? Alias, quibusdam officiis
            necessitatibus dolore asperiores reiciendis assumenda recusandae dicta
            architecto? Fuga cumque et unde tempore in nostrum similique accusamus
            incidunt, saepe, rem reiciendis quae!
        </p>
    </section>
</body>

</html>